@import '../../../../assets/css/function.scss';
.record{
  background: #fff;
  min-height: 100%;
  margin-bottom: px2rem(-20px);
  .r_center {
    padding: px2rem(30px);
    position: absolute;
    overflow: scroll;
    bottom: px2rem(87px);
    z-index: 1;
    top: 0;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    h5 {
      height: px2rem(40px);
      line-height: px2rem(40px);
      color: #505050;
    }
    table {
      width: 100%;
      border: 1px solid #f0f0f0;
      margin: px2rem(16px) 0 px2rem(25px);
      tr {
        td {
          border: 1px solid #f0f0f0;
          color: #505050;
          height: px2rem(48px);
          padding: px2rem(10px);
          font-size: px2rem(24px);
          text-align: center;
          p {
            display: inline-block;
            line-height: px2rem(40px);
          }
        }
        td:nth-of-type(3) {
          width: px2rem(120px);
        }
        td:nth-of-type(1) {
          width: px2rem(120px);
        }
      }
      tr.list:last-child {
        td {
          color: #f15a23;
        }
        background: #fbcdbd;
        font-weight: 600;
      }
      tr:first-child {
        td {
          font-size: px2rem(26px);
          color: #505050;
        }
        font-weight: 600;
      }
      tr.table_list {
        td {
          background: #faaf3a;
          border: 1px solid #f0f0f0;
          color: #fff;
          text-align: center;
          height: px2rem(48px);
          padding: px2rem(10px);
          font-size: px2rem(24px);
        }
        td:last-of-type {
          font-weight: 600;
        }
      }
    }
    .prize {
      font-size: px2rem(26px);
      line-height: px2rem(30px);
      margin-bottom: px2rem(30px);
      color: #505050;
      span {
        font-weight: bold;
        color: #505050;
      }
    }
  }
  .paymentBtn {
    position: absolute;
    bottom: 0;
    height: px2rem(85px);
    background: #ea5504;
    border: none;
    width: 100%;
    font-size: 0.37333rem;
    color: white;
  }
}