@import '../../../assets/css/function.scss';
.activityOne {
    box-sizing: border-box;
    height: 100%;
    padding-top: px2rem(1100px);
    .oneActive {
        width: 100%;
        margin-bottom: px2rem(-20px);
        position: absolute;
        top: 0;
    }
    .lqBtn {
        margin: 0 auto 0;
        width: 50%;
        position: relative;
        z-index: 10;
    }
    .ga,.bne{
        text-align: center;
        color: #ccc;
        position: relative;
        z-index: 20;
        a{
            color: #ccc;
            img{
                width: px2rem(30px);
                display: inline-block;
            }
        }
    }
    .ga{
        margin-top: px2rem(20px);
    }
}