@import '../../../assets/css/function.scss';
.seemore{
    min-height: 100%;
    background: white;
    ul{
        overflow: hidden;
        li{
            width: 25%;
            float: left;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: px2rem(33px) 0;
            img{
               width: px2rem(91px); 
            }
            span{
                font-size: px2rem(26px);
                color: #505050;
            }
        }
    }
}