@import '../../../assets/css/function.scss';
.order_center{
  .subnav{
    background: #fff;
    padding: px2rem(20px) px2rem(30px);
  }
  .box1{
    display: flex;
    align-items: center;
    img{
      height: px2rem(64px);
      margin-right: px2rem(16px);
    }
    div{
      display: inline-block;
      width: 86%;
      p{
        color: #505050;
        font-size: px2rem(30px);
        width: 100%;
        span{
          float: right;
          color: #505050;
          font-size: px2rem(30px);
        }
      }
      span{
        color: #787878;
        font-size: px2rem(22px);
      }
    }
  }
  .box2{
    margin-top: px2rem(20px);
    border-top: 1px solid #f1f1f1;
    padding:px2rem(20px) 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p{
      font-size: px2rem(28px);
      color: #505050;
      margin-top: px2rem(10px);
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      span{
        font-size: px2rem(28px);
        float: right;
      }
    }
  }
}
.table{
  padding:0 px2rem(20px) 0 px2rem(30px);
  h5{
    font-size: px2rem(28px);
    color: #A0A0A0;
    height: px2rem(72px);
    line-height: px2rem(72px);
    border-bottom: 1px solid #f1f1f1;
  }
  .list{
    padding: px2rem(20px) 0;
    .title{
      color: #A0A0A0;
      font-size: px2rem(24px);
      display: flex;
      p{
        height: px2rem(50px);
        line-height: px2rem(50px);
        flex: 1;
        text-align: center;
      }
    }
    li{
      display: flex;
      border-bottom: 1px dashed #f1f1f1;
      padding: px2rem(10px) 0;
      .item{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        span{
          display: block;
          text-align: center;
          img{
            width:px2rem(20px);
            background-size: 100%;
          }
        }
      }
      .item:nth-child(2),.item:nth-child(4){
        flex-direction: column;
      }
    }
    li:last-child{
      border-bottom: none;
    }
  }
  .menu{
    border-top: 1px solid #f1f1f1;
    padding: px2rem(20px) 0;
    p{
      font-size: px2rem(24px);
      line-height: px2rem(35px);
      color: #505050;
      span{
        color: #A0A0A0;
      }
    }
  }
}
.plan {
  padding: 0 px2rem(20px) 0 px2rem(30px);
  .solecd {
    font-size: px2rem(28px);
    color: #A0A0A0;
    height: px2rem(72px);
    line-height: px2rem(72px);
    border-bottom: 1px solid #f1f1f1;
    display: block;
    span {
      float: right;
      color: #505050;
    }
  }
  div {
    padding: px2rem(20px) 0;
    p {
      font-size: px2rem(24px);
      line-height: px2rem(40px);
      color: #505050;
      span {
        color: #A0A0A0;
      }
    }
  }
}