@import '../../../assets/css/function.scss';
.setup{
  p{
    border-top: 1px solid #e5e5e5;
    font-size: px2rem(28px);
    color: #787878;
    padding: px2rem(15px) px2rem(28px);
  }
  .msg_list {
    li{
      a{
        height: 1.17333rem;
        div{
          height: 1.17333rem;
          .message{
            height: 100% !important;
          }
        }
      }
      a:last-of-type{
        .arrow_kefu{
          color: #505050;
        }
      }
    }
    .arrow_kefu{
      line-height: 1.16rem;
      margin: 0;
    }
  }
}
