@import '../../../assets/css/function.scss';
.kaijiang{
    .kaijiang-list{
        dl{
           background: white;
           border-bottom: 1px solid #f0f0f0; 
           overflow: hidden;
           height: px2rem(259px);
           display: flex;
           align-items: center;
           dt{
               img{
                   width: px2rem(92px);
                   margin-left: px2rem(53px);
                   margin-right: px2rem(43px);
               }
           }
           dd{
               .kj-top{
                   span{
                       font-size: px2rem(22px);
                       color: #a7a7a7;
                       margin-right: px2rem(10px);
                   }
                   span:first-of-type{
                       font-size: px2rem(28px);
                       color: #191919;
                   }
               }
               .kj-btm{
                   margin-top: px2rem(44px);
                   .kj-btmc{
                       width: px2rem(530px);
                       display: flex;
                       align-items: center;
                       justify-content: space-between;
                   }
                   img{
                       width: px2rem(18px);
                   }
               }
               .tyc{
                   p{
                       float: left;
                       width: px2rem(481px);
                       height: px2rem(53px);
                       background: #439E0B;
                       border-radius: px2rem(27px);
                       display: flex;
                       align-items: center;
                       justify-content: center;
                       span{
                           color: white;
                           font-size: px2rem(26px);
                       }
                       span:nth-child(2){
                           margin: 0 px2rem(30px);
                       }
                   }
               }
               .szc{
                   p{
                       float: left;
                       border-radius: 100%;
                       width: px2rem(48px);
                       height: px2rem(48px);
                       text-align: center;
                       line-height: px2rem(48px);
                       color: white;
                       font-size: px2rem(24px);
                       margin-right: px2rem(10px);
                   }
                   .redball{
                       background: #DB1D36;
                   }
                   .blueball{
                       background: #268CDF;
                   }
                   .moreball{
                        p{
                            border-radius: 0.1rem;
                            width: auto;
                            height: auto;
                            padding: 0 px2rem(5px);
                        }
                    }
               }
           }
        }
    }
}