@import '../../../assets/css/function.scss';
.world_cup{
    background: #fff;
    .img{
        img{
            width: 100%;
        }
    }
    .information {
        margin-top: px2rem(20px);
        background: #fff;
        padding: 0 px2rem(20px);
        ul {
            li {
                width: 100%;
            }
        }
    }
}