@import '../../../assets/css/function.scss';
.cardbox{
    .give{
        // padding: px2rem(28px);
        margin-top: 0;
        background: #fff;
    }
    .card{
        background: #cc4050;
        border-radius: 0.1rem;
        color: #fff;
        padding: px2rem(24px);
        margin: px2rem(28px) auto 0;
    }
    .card:last-of-type{
        margin-bottom: px2rem(28px);
    }
    .china_bank{
        .bank_box{
            width: px2rem(62px);
            height: px2rem(62px);
            float: left;
            margin-right: px2rem(12px);
            border-radius: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            background: white;
            img{
                width: 100%;
            }
        }
    }
    .china_bank p{
        font-size: px2rem(28px);
        float: left;
        line-height: px2rem(30px);
        span{
            font-size: px2rem(20px);
        }
    }
    .china_bank .img1{
        float: right;
        width:px2rem(28px);
    }
    .china_bank_card{
        font-size: px2rem(36px);
        text-align: center;
        margin-top: px2rem(36px);
        opacity: 0.8;
    }
    .china_bank_default{
        font-size: px2rem(24px);
        margin-top: px2rem(30px);
        display: flex;
        align-items: center;
        .mint-cell{
            background: none;
            display: flex;
            align-items: center;
            .mint-checklist-label{
                padding: 0;
            }
            .mint-checkbox-label{
                display: none;
            }
            .mint-checkbox-core{
                width: px2rem(28px);
                height: px2rem(28px);
                border-radius: 0;
            }
            .mint-checkbox-core::after{
                top: 0;
                left: px2rem(8px);
                border-color: #cc4050; 
            }
            .mint-checkbox-input:checked + .mint-checkbox-core{
                background: white;
                border-color: #cc4050;
            }
        }
        .mint-checklist-title{
            margin: 0;
        }
        span{
            margin-left: px2rem(6px);
        }
    }
    .msg_list li>a {
        margin-left: 0;
        padding-left: px2rem(30px);
        div{
            span:first-of-type{
                float: left;
                font-size: px2rem(48px);
                line-height: px2rem(82px);
                margin-right: px2rem(10px); 
            }
        }
    }
    .section{
        margin-top: 0!important;
      }
}
