@import '../../../../assets/css/function.scss';
.mycode{
  padding: px2rem(100px) 0;
  margin: 0 auto;
  text-align: center;
  font-family: '微软雅黑';
  background: #fff;
  min-height: 100%;
  box-sizing: border-box;
  margin-bottom: px2rem(-40px);
  p{
    font-size: px2rem(39px);
    color: #e95504;
    width: 70%;
    margin: 0 auto;
    font-weight: bold;
    line-height: px2rem(60px);
  }
  .img{
    width: px2rem(400px);
    height: px2rem(400px);
    border: 1px solid #f1f1f1;
    margin: px2rem(60px) auto;
  }
  .btn{
    margin-top: px2rem(150px);
    button{
      border: none;
      width: px2rem(500px);
      height: px2rem(80px);
      background: #e95504;
      color: #fff;
      margin-top: px2rem(40px);

    }
  }
  canvas{
    width: px2rem(300px)!important;
    height: px2rem(300px)!important;
  }

}