 @import '../../../assets/css/function.scss';
 .mode{
   color: #505050;
   margin-left: px2rem(30px);
   margin-right: px2rem(30px);
   height: px2rem(90px);
   display: block;
   border-bottom: 1px solid #f1f1f1;
   font-size: 0.4rem;
   line-height: px2rem(90px);
 }