@import '../../../assets/css/function.scss';
.header{
  //height: px2rem(180px);
}
.head{
  font-size: px2rem(26px);
  color: #F7931E;
  background: #f4f4f4;
  width: 100%;
  display: block;
  text-align: center;
}
.current{
  font-size: px2rem(30px);
  color: #505050;
  padding: px2rem(24px) 0 px2rem(24px) px2rem(38px);
}
.amount{
  /*width: 100%;*/
  padding: px2rem(34px);
  p{
    color: #505050;
    font-size: px2rem(45px);
  }
  .money{
    padding: px2rem(20px);
    border: 1px solid #f1f1f1;
    border-radius: 0.1rem;
    font-size: px2rem(26px);
    margin-top: px2rem(25px);
    display: block;
    width: 94%;
    color: #e95504;
  }
  ul{
    display: flex;
    margin-top:px2rem(27px);
    width: px2rem(685px);
    justify-content: space-between;
    li{
      border: 1px solid #f1f1f1;
      font-size:px2rem(26px);
      box-sizing: border-box;
      color: #505050;
      padding: px2rem(20px);
      text-align: center;
      border-radius: 0.1rem;
      width: px2rem(150px);
    }
    li:last-child{
      margin-right: 0;
    }
  }
}
.wechat{
  padding:0 px2rem(20px);
  p{
    color: #505050;
    padding-left: px2rem(20px);
    height: px2rem(130px);
    display: block;
    border-bottom: 1px solid #f1f1f1;
    font-size: px2rem(30px);
    line-height: px2rem(130px);
  }
}
.msg_list li>a {
  display: block;
  position: relative;
  margin-left:px2rem(0px);
  height: px2rem(87px);
  margin-right: px2rem(-20px);
}