@import '../../../assets/css/function.scss';
.header{
  //height: px2rem(180px);
}
.head{
  font-size: px2rem(26px);
  color: #F7931E;
  background: #f4f4f4;
  position: absolute;
  top: 8.1%;
  width: 100%;
  text-align: center;
}
.current{
  font-size: px2rem(30px);
  color: #505050;
  padding: px2rem(24px) 0 px2rem(24px) px2rem(38px);
}
.amount{
  /*width: 100%;*/
  padding: px2rem(34px);
}
.amount p{
  color: #505050;
  font-size: px2rem(45px);
}
.amount .money{
  padding: px2rem(20px);
  border: 1px solid #f1f1f1;
  border-radius: 0.1rem;
  font-size: px2rem(26px);
  margin-top: px2rem(25px);
  display: block;
  width: 94%;
  color: #e95504;
}
.amount ul{
  display: block;
  margin-top:px2rem(27px);
}
.amount ul li{
  float: left;
  width: 14%;
  border: 1px solid #f1f1f1;
  font-size:px2rem(26px);
  color: #505050;
  padding: px2rem(20px);
  text-align: center;
  border-radius: 0.1rem;
  margin-right: px2rem(41px);
}
.amount ul li:last-child{
  margin-right: 0;
}
.wechat{
  padding:0 px2rem(20px);
}
.wechat p{
  color: #505050;
  padding-left: px2rem(20px);
  height: px2rem(130px);
  display: block;
  border-bottom: 1px solid #f1f1f1;
  font-size: px2rem(30px);
  line-height: px2rem(130px);
}
.msg_list li>a {
  display: block;
  position: relative;
  margin-left:px2rem(0px);
  height: px2rem(87px);
  margin-right: px2rem(-20px);
}