 @import '../../../assets/css/function.scss';
 .cathectic{
   .match{
     background: #fff;
     height: px2rem(72px);
     line-height: px2rem(72px);
     padding: 0 px2rem(30px);
     font-size: px2rem(28px);
     color: #A0A0A0;
     span{
       color: #e95504;
     }
   }
   .cont{
     padding: 0 px2rem(30px) px2rem(20px);
     .cont_p{
       color: #9f9f9f;
       font-size: px2rem(22px);
       height: px2rem(72px);
       line-height: px2rem(72px);
     }
     .mat_cen{
       height: px2rem(106px);
       div{
         height: px2rem(106px);
         float: left;
         width: 8%;
         img{
           width: 42%;
         }
       }
       ul{
         float: left;
         width: 75%;
         height: px2rem(106px);
         border: 1px solid #f1f1f1;
         li{
           width:px2rem(95px);
           padding-top: px2rem(19px);
           padding-bottom: px2rem(16px);
           line-height: px2rem(35px);
           color: #505050;
           font-size: px2rem(24px);
           float: left;
           text-align: center;
           margin: 0 auto;
           span{
             color: #9f9f9f;
             font-size: px2rem(20px);
           }
         }
         li:nth-child(1){
           width: px2rem(208px);
         }

         li:last-of-type{
           width: px2rem(208px);
         }
         .cont_cur{
           background: #e95504;
           color: #fff;
         }
         .cont_cur span{
           color: #fff;
         }
         .split-symbol{
           float: left;
           font-size: px2rem(13px);
           height: px2rem(70px);
           border-left: 1px solid #ccc;
           line-height: px2rem(70px);
           color: #ccc;
           width: px2rem(1px);
           cursor: default;
           margin-top: px2rem(20px);
         }
       }
        p{
          height: px2rem(106px);
          line-height: px2rem(106px);
          text-align: center;
          margin-left: 5%;
          float: left;
          width: 10%;
          border: 1px solid #f1f1f1;
        }
     }
   }

   .fixed{
     position: fixed;
     background: #fff;
     width: 100%;
     bottom: 0;
     small{
       height: px2rem(64px);
       line-height: px2rem(64px);
       font-size: px2rem(20px);
       color: #9f9f9f;
       text-align: center;
       display: block;
     }
     ul{
       display: flex;
       height: px2rem(88px);
       border-top: 1px solid #f1f1f1;
       border-bottom: 1px solid #f1f1f1;
       line-height: px2rem(88px);
       li{
         font-size: px2rem(24px);
         color: #505050;
         position: relative;
         flex: 1;
         text-align: center;
         border-right: 1px solid #f1f1f1;
         i{
           width: px2rem(20px);
           height: px2rem(20px);
           background: url(../../../assets/img/free/Clickable@2x.png);
           position: absolute;
           top: 0;
           right: 0;
           background-size: 100% 100%;
         }
       }
       li:last-child{
         border-right: none;
       }
     }
     div{
       height: px2rem(88px);
       .left{
         font-size: px2rem(22px);
         color: #787878;
         padding: 0 0 0 px2rem(30px);
         width: 66%;
         float: left;
         line-height: px2rem(18px);
         span{
            color: #e95504;
         }
         p{
           padding-top: px2rem(22px);
         }
       }
       .right{
         height: px2rem(88px);
         line-height: px2rem(88px);
         float: left;
         width: 30%;
         text-align: center;
         background: #e95504;
         color: #fff;
         font-size: px2rem(28px);
       }
     }
   }
   .popup{
     display: none;
     background: #fff;
     .box{
       height: px2rem(124px);
       line-height: px2rem(124px);
       padding:0 px2rem(30px);
       img{
         width: 4%;
         float: left;
         margin-top: px2rem(51px);
       }
       div{
         float: right;
         p{
           margin-top: 0.4rem;
           line-height: 0.8rem;
           width: px2rem(152px);
           height: px2rem(60px);
           display: inline-block;
           text-align: center;
           border: 1px solid #f1f1f1;
           margin-left: px2rem(15px);
         }
       }
     }
     .list{
       border-top: 1px solid #f1f1f1;
       display: flex;
       line-height: px2rem(72px);
        li{
          width: 25%;
          border-right: 1px solid #f1f1f1;
          flex: 1;
          text-align: center;
        }
       li:last-child{
         border-right: none;
       }
     }
     .box1{
       border-top: 1px solid #f1f1f1;
       width: 100%;
       ul{
         width:80%;
         float: left;
         line-height: px2rem(72px);
         li{
           line-height: px2rem(72px);
           border-right: 1px solid #f1f1f1;
           border-bottom: 1px solid #f1f1f1;
           width: 33%;
           float: left;
           text-align: center;
           height: px2rem(72px);
         }
       }
       .select{
         text-align: center;
         width: 20%;
         float: left;
         p{
           border-bottom: 1px solid #f1f1f1;
           height: px2rem(147px);
           line-height: px2rem(147px);
         }
         .cur{
           background: #e95504;
           color: #fff;
         }
         p:last-child{
           border-bottom:none;
         }
       }
     }
   }
   .popup_down{
     background: #fff;
     display: none;
     p{
       line-height: px2rem(104px);
       text-align: center;
       font-size: px2rem(24px);
       color: #9f9f9f;
     }
     ul{
       padding:0 px2rem(60px);
       li{
         line-height: px2rem(60px);
         margin-top: 1.7%;
         width: 30%;
         margin-left: 1%;
         margin-right: 1%;
         text-align: center;
         border: 1px solid #f1f1f1;
         color: #505050;
         font-size: px2rem(24px);
       }
       .current{
         border:1px solid #e95504;
         color: #e95504;
       }
     }
     button{
       margin-top: px2rem(48px);
       height: px2rem(72px);
       width: 100%;
       border: none;
       background: none;
       display: flex;
       border-top: 1px solid #f1f1f1;
       a{
         color: #505050;
         line-height: px2rem(72px);
         flex: 1;
         display: block;
         border-right: 1px solid #f1f1f1;
       }
       .pop_cur{
         color: #e95504;
       }
       a:last-child{
         border-right: none;
       }
     }
   }
 }