 @import '../../../assets/css/function.scss';
 .make{
   font-size: 0.26rem;
   color: #F7931E;
   padding: 0.3rem;
 }
 .plain{
   margin-top: 0.88rem;
   margin-left: 0.3rem;
 }
 .plain p{
   line-height: 0.39rem;
   color: #A0A0A0;
   font-size: 0.26rem;
 }