@import '../../../../assets/css/function.scss';
.incomedetail{

  .box_list_1,.box_list_2{
    padding: 0 px2rem(20px);
    display: flex;
    position: relative;
    background: #fff;
    border-bottom: 1px solid #f1f1f1;
    li {
      flex: 2;
      height: px2rem(70px);
      line-height: px2rem(70px);
      display: flex;

      justify-content: center;

    }
    li.arrow_right {
      background-position: 50% center;
      background-size: auto 40%;
    }
    li:nth-child(1){
      flex: 3;
    }
    .box_list_2 li{
      height: px2rem(90px);
      line-height: px2rem(90px);
      border-bottom: 1px solid #f1f1f1;
    }
    .box_list_2 li:last-child{
      color: #e95504;
    }
  }
  .box_list{
    margin-bottom: px2rem(90px);
  }
  .box_div{
    height: px2rem(88px);
    line-height: px2rem(88px);
    text-align: center;
    background: #e95504;
    font-style: px2rem(16px);
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: px2rem(110px);
  }
}