 @import '../../../assets/css/function.scss';
 .send{
   position: absolute;
   top: px2rem(88px);
   width: 100%;
   height: px2rem(88px);
   background: #fff;
   overflow: hidden;
   display: flex;
   box-shadow: 0px 2px 3px rgba(0,0,0,0.2); 
   li{
     flex: 1;
     height: px2rem(48px);
     margin-top: px2rem(20px);
     border-right: 1px solid #f1f1f1;
     color: #505050;
     font-size: px2rem(30px);
     text-align: center;
     p{
       height: px2rem(64px);
       display: block;
       margin: 0 auto;
     }
   }
   .cur p{
     color: #E95504;
     width: 50%;
     border-bottom: 2px solid #E95504;
     display: block;
   }
   li:last-child{
     border-right: none;
   }
 }
 .data{
   padding-left: px2rem(30px);
   height: px2rem(70px);
   line-height: px2rem(70px);
   color: #A0A0A0;
   margin-top: -1px;
 }
 .count{
   margin-top: px2rem(88px);
   .zhmxlist{
    .list{
      margin:0  px2rem(30px);
      border-bottom: 1px dashed #f1f1f1;
       li{
         width: 100%;
         padding: px2rem(30px) 0;
         .gczt{
           width: px2rem(73px);
           height: px2rem(73px);
           border-radius: 100%;
           margin-right: px2rem(15px);
           float: left;
           color: #fff;
           font-size: px2rem(28px);
           display: flex;
           align-items: center;
           justify-content: center;
         }
         div{
           display: inline-block;
           width: 85%;
           p{
             font-size: px2rem(28px);
             color: #505050;
             i{
               font-style: normal;
               float: right;
             }
           }
           b{
             font-weight: normal;
             margin-top: px2rem(8px);
             font-size: px2rem(20px);
             color: #787878;
           }
           span{
             color: #A0A0A0;
             font-size: px2rem(20px);
             margin-top: px2rem(8px);
             display: block;
           }
         }
       }
      li:last-child{
        border-bottom:none;
      }
    }
   }
 }
 .base{
   padding: px2rem(30px) 0;
   text-align: center;
   p{
     color:#505050;
     font-size: px2rem(20px);
     span{
       color: #e95504;
     }
   }
 }
 .mint-spinner-double-bounce{
   margin: 0 auto;
 }
 