@import '../../../../../assets/css/function.scss';
.world_matchList{
    .child-view{
        position: absolute;
        top: 0;
        bottom: px2rem(88px);
        overflow: auto;
        -webkit-overflow-scrolling: touch !important;
    }
    .match_footer {
        height: px2rem(88px);
        background: white;
        position: absolute;
        bottom: 0;
        width: 100%;
        border-top: 1px solid #f0f0f0;
        display: flex;
        align-items: center;
        z-index: 20;
        .match_footer_left {
            flex: 6.8;
            display: flex;
            align-items: center;
            height: 100%;
            .match_delete {
                height: 100%;
                padding: 0 px2rem(28px);
                display: flex;
                align-items: center;
                .icon-icon-26 {
                    color: #9f9f9f;
                    font-size: px2rem(40px);
                }
            }
            .match_test_status {
                height: px2rem(66px);
                font-size: px2rem(22px);
                color: #787878;
                border-left: 1px solid #f0f0f0;
                display: flex;
                align-items: center;
                padding-left: px2rem(30px);
            }
        }
        .confirm {
            height: 100%;
            flex: 3.2;
            background: #e85504;
            color: #fff;
            border: none;
            font-size: px2rem(32px);
        }
        .noConfirm {
            background: #ccc;
        }
    }
    
    .icon-icon-34 {
        font-size: px2rem(32px);
        color: #ea5504;
    }
    
    .icon-icon-22 {
        font-size: px2rem(24px);
    }
    
    .child-view {
        transition: all .3s cubic-bezier(.55, 0, .1, 1);
    }
    
    .slide-left-enter,
    .slide-right-leave-active {
        opacity: 0;
        -webkit-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }
    
    .slide-left-leave-active,
    .slide-right-enter {
        opacity: 0;
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
    }
}