@import '../../../assets/css/function.scss';
.inToplay{
    background: white;
    padding: px2rem(20px) px2rem(30px);
    font-size: px2rem(26px);
    line-height: px2rem(38px);
    color: #505050;
    margin-bottom: px2rem(-20px);
}