@import "../../../../assets/css/function.scss";
.mark_playutBox{
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 200;
    .mark_playut{
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        position: absolute;
    }
    .mark_footer{
        position: absolute;
        bottom: 0;
        z-index: 250;
        width: 100%;
        background: #fff;
        p{
          line-height: px2rem(104px);
          text-align: center;
          font-size: px2rem(26px);
          color: #9f9f9f;
        }
        ul{
          padding:0 px2rem(60px);
          overflow: hidden;
          li{
            line-height: px2rem(60px);
            text-align: center;
            border: 1px solid #f1f1f1;
            color: #505050;
            font-size: px2rem(26px);
            float: left;
            width: px2rem(190px);
            margin-right: px2rem(20px);
            margin-bottom: px2rem(20px);
            box-sizing: border-box;
          }
          li:nth-child(3n){
              margin-right: 0;
          }
          .current{
            border:1px solid #e95504;
            color: #e95504;
          }
        }
        button{
          margin-top: px2rem(48px);
          height: px2rem(72px);
          width: 100%;
          border: none;
          background: none;
          display: flex;
          border-top: 1px solid #f1f1f1;
          a{
            color: #505050;
            line-height: px2rem(72px);
            flex: 1;
            font-size: px2rem(24px);
            display: block;
            border-right: 1px solid #f1f1f1;
          }
          .pop_cur{
            color: #e95504;
          }
          a:last-child{
            border-right: none;
          }
        }
      }
      .popup{
        position: absolute;
        bottom: 0;
        z-index: 250;
        width: 100%;
        background: #fff;
        .box{
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: px2rem(124px);
          width: 100%;
          img{
            width: 4%;
            margin-left: px2rem(30px);
          }
          div{
            display: flex;
            align-items: center;
            margin-right: px2rem(30px);
            p{
              width: px2rem(152px);
              height: px2rem(60px);
              text-align: center;
              border: 1px solid #f1f1f1;
              margin-left: px2rem(15px);
              line-height: px2rem(60px);
              box-sizing: border-box;
              font-size: px2rem(28px);
            }
          }
        }
        .list{
          border-top: 1px solid #f1f1f1;
          display: flex;
          line-height: px2rem(72px);
          width: 100%;
           li{
             border-right: 1px solid #f1f1f1;
             flex: 1;
             text-align: center;
             font-size: px2rem(26px);
           }
          li:last-child{
            border-right: none;
          }
        }
        .box1{
          border-top: 1px solid #f1f1f1;
          width: 100%;
          ul{
            width:80%;
            float: left;
            li{
              line-height: px2rem(74px);
              border-right: 1px solid #f1f1f1;
              border-bottom: 1px solid #f1f1f1;
              width: 33.3%;
              float: left;
              text-align: center;
              height: px2rem(74px);
              box-sizing: border-box;
              font-size: px2rem(28px);
            }
            li:nth-child(3n){
              border-right: none;
            }
            li:nth-child(10),li:nth-child(11),li:nth-child(12){
              border-bottom: none;
            }
          }
          .select{
            text-align: center;
            width: 20%;
            float: left;
            p{
              height: px2rem(148px);
              line-height: px2rem(148px);
              font-size: px2rem(28px);
            }
            .cur{
              background: #e95504;
              color: #fff;
            }
            p:first-of-type{
              border-left: 1px solid #f0f0f0;
              box-sizing: border-box;
            }
          }
        }
      }
      .yhMark {
        position: absolute;
        bottom: 0;
        z-index: 250;
        width: 100%;
        background: #fff;
        .yh_title{
          height: px2rem(100px);
          border-bottom: 1px solid #f0f0f0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: px2rem(28px);
          color: #666;
        }
        .yhList{
          li{
            border-bottom: 1px solid #f0f0f0;
            height: px2rem(132px);
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 px2rem(32px);
            p:first-of-type{
              flex: 1.5;
              overflow: hidden;
              span{
                color: #ea5504;
              }
              span:first-of-type{
                font-size: px2rem(32px);
              }
              span:last-of-type{
                font-size: px2rem(48px);
              }
            }
            p:nth-child(2){
              flex: 2;
              height: 100%;
              display: flex;
              justify-content: center;
              flex-direction: column;
              span{
                color: #505050;
              }
              span:first-of-type{
                font-size: px2rem(26px);
              }
              span:last-of-type{
                font-size: px2rem(22px);
              }
            }
            p:last-of-type{
              height: 100%;
              flex: 0.5;
              background: url('../../../../assets/img/cue.png') no-repeat right center;
              background-size: px2rem(28px) px2rem(28px);
            }
            .bounsId{
              background: url('../../../../assets/img/cur.png') no-repeat right center!important;
              background-size: px2rem(28px) px2rem(28px)!important;
            }
          }
          li:last-of-type{
            border-bottom: none;
          }
          .yhNull{
            height: px2rem(200px);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: px2rem(28px);
            color: #999;
          }
        }
        .yhBtn{
          border-top: 1px solid #f0f0f0;
          height: px2rem(88px);
          display: flex;
          align-items: center;
          justify-content: center;
          color: #ea5504;
          font-size: px2rem(26px);
        }
      }
      .translate-enter-active, .translate-leave-active {
        transition: all 0.3s;
      }
      .translate-enter, .translate-leave-active {
        transform: translate3d(0, 100%, 0);
      }
      .tapActive{
        background: rgba(0,0,0,0.6);
      }
}