 @import '../../../assets/css/function.scss';
.teamDetail{
  .team{
    background: #fff;
    padding: px2rem(28px) px2rem(32px) px2rem(34px);
    .p1{
      color: #9f9f9f;
      font-size: px2rem(22px);
      margin-bottom: px2rem(28px);
    }
    ul{
      display: flex;
      p{
        color: #9f9f9f;
        font-size: px2rem(30px);
        text-align: center;
        margin-top: px2rem(105px);

        b{
          display: block;
          font-weight: normal;
          font-size: px2rem(26px);
          margin-top: px2rem(16px);
        }
      }
      li{
        flex: 1;
        text-align: center;
        img{
          width: px2rem(80px);
          height: px2rem(80px);
          margin: 0 auto;
          margin-bottom: px2rem(18px);
          display: block;
        }
        span{
          color: #505050;
          font-size: px2rem(30px);
          margin-bottom: px2rem(16px);
          display: block;
        }
        i{
          color: #9f9f9f;
          font-size: px2rem(26px);
          font-style: normal;
        }
      }
    }
  }
  .detail_list{
    background:#fff;
    margin-top: px2rem(20px);
    padding-left:px2rem(32px);
    p{
      height: px2rem(88px);
      line-height: px2rem(88px);
      color: #505050;
      font-size: px2rem(30px);
      span{
        font-size: px2rem(29px);
        color: #9f9f9f;
        margin-left: px2rem(15px);
      }
      small{
        color: #ea5504;
        margin-left: px2rem(15px);
      }
      i{
        color: #0099d9;
        font-style: normal;
        margin-left: px2rem(15px);
      }
      b{
        font-weight: normal;
        color: #44ae35;
        margin-left: px2rem(15px);
      }
    }




  }

}