@import '../../../assets/css/function.scss';
.center{
    background: #fff;
}
.portrait{
    padding: px2rem(30px) px2rem(47px);
}
.people{
    float: left;
    margin-right:px2rem(30px);
}
.people img{
    width: px2rem(112px);
    display: block;
}
.por-right{
    float: left;
}
.certified{
    background: url(../../../assets/img/certified.png) no-repeat;
    background-size: 100%;
    margin-top: px2rem(15px);
    width: px2rem(132px);
    height: px2rem(35px);
    display: block;
}
.por-right span{
    color: #505050;
    font-size: px2rem(32px);
    display: -webkit-box;
    margin-top: px2rem(10px);
}
.por-right p{
    height: px2rem(37px);
    line-height: px2rem(37px);
    background: #fbddcd url(../../../assets/img/poser.png) 0.1rem no-repeat;
    color: #E95504;
    font-size: px2rem(22px);
    margin-top: px2rem(15px);
    background-size: 95%;
    padding: 0 px2rem(40px);
    border-radius: px2rem(5px);
}
.money{
    clear: both;
    display: flex;
}
.money .left{
    text-align: center;
    flex: 1;
    display: grid;
}
.money  span{
    font-size: px2rem(42px);
    color: #E95504;
    margin-bottom:px2rem(10px);
}
.money .left p{
    font-size: px2rem(24px);
    color: #A0A0A0;
    height: px2rem(50px);
}
.nav{
    display: flex;
    height: px2rem(88px);
    line-height: px2rem(88px);
    border-top: 1px solid #f1f1f1;
    margin-top: px2rem(30px);
}
.nav a{
    flex: 1;
    border-right: 1px solid #f1f1f1;
    display: block;
    font-size: px2rem(28px);
    color: #F7931E;
    height: px2rem(88px);
    text-align: center;
}
.nav a:last-child{
    border-right: none;
}