@import '../../../../assets/css/function.scss';
.kj-daletou{
    .head {
        overflow: hidden;
        height: px2rem(100px);
        background: #d12120;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .back-img {
          display: inline-block;
          height: px2rem(30px);
          width: px2rem(30px);
          margin-left: px2rem(30px);
          img {
            width: 100%;
          }
        }
        .head-text {
          display: flex;
          align-items: center;
          font-size: px2rem(32px);
          color: #fff;
        }
        .data-img{
            img{
                width: px2rem(36px);
            }
        }
    }
    .dlt-content{
        -webkit-overflow-scrolling: touch !important;
        overflow: scroll;
        bottom: 0;
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        top: px2rem(100px);
        left: 0;
        background: white;
        padding: 0 px2rem(30px);
        .dlt-item{
            padding: px2rem(36px) 0;
            border-bottom: 1px solid #f0f0f0;
            .dlt-itemTop{
                display: flex;
                align-items: flex-end;
                p{
                   margin-right: px2rem(30px); 
                }
                p:first-of-type{
                    color: #191919;
                    font-size: px2rem(28px);
                }
                p:nth-child(2){
                    color: #A7A7A7;
                    font-size: px2rem(22px);
                }
                p:last-of-type{
                    img{
                        width: px2rem(67px);
                        margin-bottom: px2rem(3px);
                    }
                }
            }
            .dlt-itemBottom{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: px2rem(18px);
                .ball{
                    display: flex;
                    p{
                        box-sizing: border-box;
                        border-radius: 100%;
                        width: px2rem(50px);
                        height: px2rem(50px);
                        border: 1px solid #f0f0f0;
                        text-align: center;
                        line-height: px2rem(48px);
                        margin-right: px2rem(22px);
                        font-size: px2rem(26px);
                    }
                    .redball{
                        color: #DB1D36;
                    }
                    .blueball{
                        color: #268CDF;
                    }
                }
                img{
                    width: px2rem(16px);
                }
            }
        }
        .dlt-item:first-of-type{
            .dlt-itemBottom{
                .ball{
                    p{
                        border: none;
                        color: white;
                    }
                    .redball{
                        background: #DB1D36;
                    }
                    .blueball{
                        background: #268CDF;
                    }
                }
            }
        }
    }
    .ball-content{
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        top: px2rem(100px);
        left: 0;
        bottom: 0;
        overflow: auto;
        -webkit-overflow-scrolling: touch !important;
        z-index: 10;
        .ball-nav{
            background: #F0EFF5;
            height: px2rem(79px);
            line-height: px2rem(79px);
            padding-left: px2rem(30px);
            font-size: px2rem(26px);
            color: #666;
        }
        .ball-item{
            background: white;
            margin-bottom: px2rem(10px);
            padding: px2rem(20px);
            .ball-itemTop{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .left{
                    margin-left: px2rem(18px);
                    flex: 1;
                    P:first-of-type{
                      font-size: px2rem(22px);
                      color: #666;  
                    }
                    p:last-of-type{
                      font-size: px2rem(22px);
                      color: #171717;  
                    }
                }
                .right{
                    flex: 3;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p{
                        font-size: px2rem(30px);
                        color: #171717;
                        flex: 2;
                        text-align: center;
                    }
                    p:nth-child(2){
                        flex: 1;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        span:first-of-type{
                            font-size: px2rem(28px);
                        }
                        span:last-of-type{
                            font-size: px2rem(22px);
                            color: #666;
                        }
                    }
                }
            }
            .ball-itemBottom{
                table{
                    border: 1px solid #f0f0f0;
                    width: px2rem(677px);
                    margin: px2rem(26px) auto 0;
                    tr{
                        td{
                           height: px2rem(60px); 
                           text-align: center;
                           font-size: px2rem(22px);
                           color: #666;
                           border: 1px solid #f0f0f0;
                        }
                    }
                }
            }
        }
    }
    .picker-toolbar{
        background: #d12120;
        border: none;
        height: px2rem(77px);
        .mint-datetime-action{
            color: #fff;
            font-size: px2rem(30px);
            text-align: left;
            box-sizing: border-box;
            padding-left: px2rem(30px);
            line-height: px2rem(77px);
        }
        .mint-datetime-confirm{
            text-align: right;
            padding-left: 0;
            padding-right: px2rem(30px);
        }
    }
}