@import '../../../assets/css/function.scss';
.msg_list li>a>div em .img{
    float: left;
    width: px2rem(30px);
    padding-top: px2rem(35px);
    margin-right: px2rem(15px);
    display: none;
  }